@import 'office-ui-fabric-core/dist/sass/References';

$colors: (
  white: #FFFFFF,
  black: #000000,
  gray190: $ms-color-gray190,
  gray180: $ms-color-gray180,
  gray170: $ms-color-gray170,
  gray160: $ms-color-gray160,
  gray150: $ms-color-gray150,
  gray100: $ms-color-gray100,
  gray10:  $ms-color-gray10,
);