@import './functions';

$light: (
  textDark:           color(black),
  textLight:          color(white),
  cardBackgound:      color(gray10),
  cardBackgroundHover:color(white)
  cardSubtitle:       color(gray100),
);