@import '../../themes/colors.css';

.ms-card-custom {
    --transition-speed: 200ms;
    --card-background: var(--color-white);
    --card-background-hover: var(--color-white);
    --card-subtitle: var(--color-gray100);
    --text-color: var(--color-black);
    --ms-depth-shadow-8: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
    --ms-depth-shadow-16: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
}

@media (prefers-color-scheme: dark){
    .ms-card-custom:not([data-theme='light']){
        --card-background: var(--color-gray150);
        --card-background-hover: var(--color-gray170);
        --text-color: var(--color-white);
    }
}

.ms-card-custom[data-theme='dark']{
    --card-background: var(--color-gray150);
    --card-background-hover: var(--color-gray170);
    --text-color: var(--color-white);
}

.ms-card-custom{
    border-radius: .5rem;
    background-color: var(--card-background);

    min-width: 9rem;
    max-width: 16rem;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: var(--ms-depth-shadow-8);
    transition: box-shadow var(--transition-speed), transform var(--transition-speed), background-color var(--transition-speed);
    transform: translateY(0);

    .ms-card-container{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ms-card-image{
            max-width: 7rem;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .ms-card-image-wrapper{
                padding: 1rem;
                margin-top: 2rem;
                border-radius: 6px;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                background-color: rgba(255, 255, 255, .1);

                img{
                    max-width: 100%;
                }
            }
        }

        .ms-card-info{
            margin: 1rem 0;
            margin-top: 2rem;
            width: calc(100% - 2rem);
            padding: 1rem;

            .ms-card-title{
                word-wrap: break-word;
                margin: 0;
                font-weight: 500;
                font-size: 15px;
            }

            .ms-card-subtitle{
                margin: 0;
                color: var(--card-subtitle);

                font-weight: 400;
                font-size: 14px;
            }

            .ms-card-description{
                margin: .5rem 0;
                color: var(--card-subtitle);
                font-weight: 400;
                font-size: 14px;
            }
        }

        .ms-card-footer{
            width: calc(100% - 2rem);
            padding: .5rem 1rem;
            color: var(--text-color);
            text-align: start;
        }
    }

}

.ms-card-custom:hover{
    box-shadow: var(--ms-depth-shadow-16);
    transform: translateY(-2px);
    background-color: var(--card-background-hover);
}